.scrollable {
    height:auto;
    overflow-y: scroll;
}

.card
{
    border: none;

}

.full-card
{
    width: 100% ;
}

li.list-group-item.no-bg
{
    background-color: transparent;
}

.btn-share
{
    width: 6rem;
}

h6
{
    font-size: 14px;
}

p
{
    font-size: 12px;
}

.logo-index {
    text-indent: -999em;
    background: url(../img/TNO_wlogo.svg) no-repeat;
    width: 180px;
    height: 52px;
    transition: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}