.scrollable {
    height:auto;
    overflow-y: scroll;
}

.text-nav-item
{
    font-size: 12px;
}

.p-sub
{
    font-size: 14px;
}

.card
{
    border: none;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.full-card
{
    width: 100% ;
}

li.list-group-item.no-bg
{
    background-color: transparent;
}

.btn-share
{
    width: 6rem;
}

.img-cropped
{
    object-fit: none;
    object-position: center;
    width: 100%;
    max-height: 100px;
}

h6
{
    /*font-size: 14px;*/
}

p
{
    /*font-size: 12px;*/
}

footer
{
    background-color: white;
}

.logo-index {
    text-indent: -999em;
    background: url(../img/TNO_wlogo.svg) no-repeat;
    width: 180px;
    height: 52px;
    transition: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vdivider-med:not(:last-child) {
    border-right: 1px solid #ccc;
    height: 180px;
    text-align: left;
}

.vdivider-long:not(:last-child) {
    border-right: 1px solid #ccc;
    height: 350px;
    text-align: left;
}

.col-lg-4 i {
    display: block;
    text-align: center
}

.btn-group {
    float: left;
    width: 33.33%;
}

.btn-group a {
    color: #fff;
    text-align: center;
    height: 32px;
    padding: 8px;
}

.btn-group i {
    font-size: 16px;
    font-size: 1.6rem;
}

.btn-group .fa-youtube-play {
    font-size: 18px;
    font-size: 1.8rem;
}

.btn-group .fa-zalo {
    width: 15px;
    height: 17px;
}

.social__fb {
    background: #3b5998;
}

.social__fb:hover {
    background: #234183;
}

.social__yt {
    background: #e52c27;
}

.social__yt:hover {
    background: #d11d18;
}

.social__zl {
    background: #018fe5;
}

.social__zl:hover {
    background: #027ec9;
}

.fa-zalo {
    width: 16px;
    height: 18px;
    display: block;
    background: url(../img/zalo_sicon.svg) no-repeat;
    margin: auto;
}