.scrollable {
    height:auto;
    overflow-y: scroll;
}

.card
{
    border: none;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.full-card
{
    width: 100% ;
}

li.list-group-item.no-bg
{
    background-color: transparent;
}

.btn-share
{
    width: 6rem;
}

h6
{
    font-size: 14px;
}

p
{
    font-size: 12px;
}

.logo-index {
    text-indent: -999em;
    background: url(../img/TNO_wlogo.svg) no-repeat;
    width: 180px;
    height: 52px;
    transition: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vdivider:not(:last-child) {
    border-right: 1px solid #ccc;
    text-align: left;
}

.col-lg-4 i {
    display: block;
    text-align: center
}