.scrollable {
    height:auto;
    overflow-y: scroll;
}

.text-nav-item
{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.p-sub
{
    font-size: 12px;
}

.card
{
    border: none;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.full-card
{
    width: 100% ;
}

li.list-group-item.no-bg
{
    background-color: transparent;
}

.btn-share
{
    width: 6rem;
}

.img-cropped
{
    object-fit: none;
    object-position: center;
    width: 100%;
    max-height: 100px;
}

h6
{
    /*font-size: 14px;*/
}

p
{
    /*font-size: 12px;*/
}

footer
{
    background-color: white;
}

.logo-index {
    text-indent: -999em;
    background: url(../img/TNO_wlogo.svg) no-repeat;
    width: 180px;
    height: 52px;
    transition: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home {
    text-indent: -999em;
    background: url(../img/TNO_homeic.svg) no-repeat;
    width: 16px;
    height: 14px;
    vertical-align: middle;
    position: absolute;
    top: 25%;
    left: 4%;
}

.vdivider-med:not(:last-child) {
    border-right: 1px solid #ccc;
    height: 180px;
    text-align: left;
}

.vdivider-long:not(:last-child) {
    border-right: 1px solid #ccc;
    height: 350px;
    text-align: left;
}

.nav-item-center {
    color: white;
    text-align: center
}

.border-top-blue {
    border-top: 1px solid rgb(0, 150, 255);
}

/*.border-top-blue:after {*/
/*width: 40px;*/
/*height: 29px;*/
/*position: absolute;*/
/*bottom: 15px;*/
/*right: 20px;*/
/*background: url(../img/quote.png) no-repeat;*/
/*}*/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgb(0, 150, 255) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top:hover {
    background-color: rgb(0, 150, 255);
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 0px;
        bottom: 330px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 45px;
        width: 45px;
        right: 0px;
        bottom: 310px;
    }
}

.btn-group {
    float: left;
    width: 33.33%;
}

.btn-group a {
    color: #fff;
    text-align: center;
    height: 32px;
    padding: 4px;
}

.btn-group i {
    font-size: 16px;
    font-size: 1.6rem;
}

.btn-group .fa-zalo {
    width: 15px;
    height: 17px;
}

.social__fb {
    background: #3b5998;
}

.social__fb:hover {
    background: #234183;
}

.social__yt {
    background: #e52c27;
}

.social__yt:hover {
    background: #d11d18;
}

.social__zl {
    background: #018fe5;
}

.social__zl:hover {
    background: #027ec9;
}

.fa-zalo {
    width: 16px;
    height: 18px;
    display: block;
    background: url(../img/zalo_sicon.svg) no-repeat;
    margin: auto;
}