.scrollable {
    height:auto;
    overflow-y: scroll;
}

.card
{
    border: none;

}

.full-card
{
    width: 100% ;
}

li.list-group-item.no-bg
{
    background-color: transparent;
}

.btn-share
{
    width: 6rem;
}

h6
{
    font-size: 14px;
}

p
{
    font-size: 12px;
}

