/* ====================================
   HEADER
   ==================================== */

.site-header {
  margin-bottom: 10px;
  &__topbanner {
    @include clearfix();
    display: block;
    padding: 10px 0;
    text-align: center;
  }
  &__grid {
    background: $brand-primary;
    width: 100%;
    height: 75px;
    &.affix {
      height: 50px;
      top: 0;
      z-index: 999;
      .site-header {
        &__tool {
          .item {
            height: 50px;
            padding: 11px 0;
            &--ti, &--dn, &--bcb {
              display: none;
            }
          }
          .parent i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
          }
        }
        &__content {
          .logo-index {
            width: 110px;
            height: 22px;
            background-size: 110px;
          }
        }
      }
    }
  }
  &__content {
    @include clearfix();
    position: relative;
    .logo-index {
      text-indent: -999em;
      background: url(../../img/TNO_wlogo.svg) no-repeat;
      width: 180px;
      height: 52px;
      transition: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__tool {
    .item {
      text-align: center;
      height: 75px;
      float: left;
      padding: 15px 0;
      &:last-child .parent {
        border: none;
      }
      &--tk .search-form {
        width: 97.5%;
        @include breakpoint(0, 1024px) {
          width: 96%;
        }
      }
    }
    .parent {
      @include border(right, 1px, solid, rgba(255, 255, 255, .3));
      padding: 6px 20px 1px;
      position: relative;
      * {
        color: #fff;
      }
    }
    i {
      font-size: 16px;
      font-size: 1.6rem;
      display: block;
      margin-bottom: 3px;
    }
    span {
      font-size: 11px;
      font-size: 1.1rem;
      text-transform: uppercase;
    }
    &.left {
      li:first-child {
        .dropdown-menu {
          padding: 0;
        }
      }
    }
    &.right {
      .dropdown-menu {
        left: inherit;
        right: 0;
      }
    }
    .dropdown-menu {
      .btn-primary {
        font-size: 12px;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 7px 12px 5px;
        @include transition();
      }
    }
    .utilities {
      @include clearfix();
      text-align: center;
      li {
        display: inline-block;
        &:last-child a {
          border: none;
        }
        a {
          @include border(right);
          padding: 6px 20px 1px;
        }
      }
    }
    .hotline {
      font-weight: 500;
    }
  }
  &__nav {
    @include boxshadow();
    text-align: center;
    height: 35px;
    padding: 8px 0 7px;
    a {
      @include special-font(12px, 18px);
      color: #000;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 12px;
      &:hover {
        color: $brand-primary;
      }
      @include breakpoint(0, 1024px) {
        font-size: 11px;
        font-size: 1.1rem;
        margin: 0 5px;
      }
    }
    .home {
      text-indent: -999em;
      background: url(../../img/TNO_homeic.svg) no-repeat;
      width: 16px;
      height: 14px;
      vertical-align: middle;
    }
    .active {
      @include border(bottom, 1px, solid, $brand-primary);
      color: $brand-primary;
      padding-bottom: 8px;
    }
  }
  &__bcb {
    text-align: center;
    padding: 8px 0 7px;
    a {
      font-size: 12px;
      font-size: 1.2rem;
      text-transform: uppercase;
      display: inline;
      margin: 0 12px;
    }
    .active, .active .fa {
      color: $brand-primary;
    }
    .fa {
      font-size: 4px;
      font-size: .4rem;
      color: #bbb;
      margin-right: 6px;
      vertical-align: middle;
    }
  }
}

// Edit Dropdown
.btn-group {
  .open {
    background: #fff;
    @include border(top, 1px, solid, $brand-primary);
    a * {
      color: $brand-primary;
    }
    .notify {
      color: #fff;
    }
  }
}

.dropdown-menu {
  margin-top: 0;
  padding: 15px 20px;
  width: 100%;
  float: none;
  border: none;
  border-radius: 0;
  @include boxshadow();
  nav {
    @include clearfix();
  }
}

// Global Navigation
.global-navigation {
  background: #eee;
  li {
    @include clearfix();
    @include border(bottom, 1px, solid, rgba(0, 0, 0, .1));
    &:hover {
      background: #ddd;
      .global-navigation__title:after {
        background: #01597a;
      }
    }
  }
  &__title {
    @include color(#fff, #fff);
    font-family: $font-family-serif;
    font-weight: 700;
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 240px;
    padding: 11px 20px 10px;
    float: left;
    position: relative;
    z-index: 1;
    &:after {
      @include border(bottom, 1px, solid, #4898b7);
      background: $brand-success;
      z-index: -1;
      content: '';
      width: 240px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: -1px;
    }
  }
  &__children {
    padding: 9px 20px 9px 260px;
    li {
      display: inline-block;
      padding: 0 20px 0 0;
      border: none;
      a {
        @include color(#111, #111, underline);
        font-size: 12px;
        font-size: 1.2rem;
        text-transform: uppercase;
      }
    }
  }
}

// Notification
.notify {
  line-height: 20px;
  line-height: 2rem;
  font-weight: $medium;
  text-align: center;
  width: 18px;
  height: 18px;
  background: $brand-info;
  position: absolute;
  top: -5px;
  right: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.site-header__tool {
  .item--tm {
    .dropdown-menu {
      width: 300px;
    }
    .story--text {
      .meta {
        width: 50px;
      }
      &__title {
        width: 72%;
      }
    }
  }
}

.site-header__grid.affix .site-header__tool .notify {
  left: 30px;
}

.notifybox {
  @include clearfix();
  background: #eee;
  padding: 11px 12px 10px;
  margin: -15px -20px 15px;
  .icon {
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    background: #fff;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    img {
      width: 19px;
    }
  }
  .text {
    color: #333 !important;
    width: 53%;
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    padding: 5px 0;
  }
  .button {
    color: #fff !important;
    display: inline-block;
    padding: 5px;
    background: $brand-primary;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    &:hover {
      background: $brand-success;
    }
  }
}

// Search
.search-form {
  .gsc-control-cse {
    padding: 0;
  }
  .gsc-input-box {
    height: auto;
  }
  .gsst_a .gscb_a {
    font: 22px/13px arial, sans-serif;
  }
  .gsib_a {
    padding: 3px 10px;
  }
  .cse .gsc-search-button input.gsc-search-button-v2,
  input.gsc-search-button-v2 {
    box-sizing: unset;
    border-radius: 0;
    padding: 8px 20px;
    margin: 0;
    vertical-align: top;
  }
  .gsc-results-wrapper-nooverlay {
    overflow-y: scroll;
  }
}